body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
ol,
ul,
dl,
dd,
form,
input,
textarea,
select {
  margin: 0;
  padding: 0
}

html,
body {
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-size: 14px;
  font-family: "Microsoft Yahei", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: middle
}

input {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline-style: none;
  vertical-align: bottom;
}

textarea {
  border: none;
  outline: none;
  /* 防止文本域被随意拖拽 */
  resize: none;
}

a,
a:active,
a:visited {
  color: #666;
  text-decoration: none
}

a:hover {
  color: #666;
  /* text-decoration: underline */
}

p {
  word-wrap: break-word
}

i {
  font-style: normal;
}

li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear::after {
  display: table;
  clear: both;
  content: "";
}

.clear {
  *zoom: 1;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}
